<h1>All cocktails</h1>

<table>
<!--   <thead>
    <tr>
      <th><strong>Name</strong></th>
    </tr>
  </thead> -->

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= link_to cocktail.name, cocktail %></td>
        <!-- <td><%= link_to 'Show', cocktail %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<p><%= link_to 'Add new cocktail', new_cocktail_path, class: "btn btn-primary" %></p>